.header {
  margin: 4rem 0;
  min-width: 100%;
  text-align: center;
}

.h1 {
  font-size: 4rem;
}

.main {
  display: flex;
  min-height: 100vh;
}

.left {
  background: url('../../public/jeffrey-d-serkes.jpeg');
  background-size: contain;
  min-height: 100vh;
  width: calc(100vw / 4);
}

.right {
  min-width: calc(100vw / 4 * 3 - 2rem);
  padding: 0 2.5rem;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .left {
    display: none;
  }

  .right {
    width: 100vw;
    background: url('../../public/jeffrey-d-serkes.jpeg');
  }

  .h1 {
    color: rgba(255, 255, 255, 0.75);
    background: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
  }
}